<header>
    <nav>
        <div class="logo-container--dw logo--left--dw">
            <h3>DRY</h3>
            <h3>WAL</h3>
        </div>
        <ul>
            <li>
                <a href="/pages/home">
                <h4>DRY® Webstore</h4>
                </a>
            </li>
        </ul>
        <div class="logo-container--dw logo--right--dw right--max--dw">
            <span class="material-icons icons--dw">
                perm_identity
            </span>
            <span class="material-icons icons--dw">
                shopping_cart
            </span>
        </div>
        <div class="logo-container--dw logo--right--dw right--min--dw">
            <span class="material-icons icons--dw">
                menu
            </span>
            <span class="material-icons icons--dw">
                shopping_cart
            </span>
        </div>
    </nav>
</header>