<div class="drywalScope--dw">
    <%- include('./partials/navigation.ejs') %>
    <section class="fullPage__body--dw">
        <div class= "body__image--dw">
            <div class="image__text--dw">
                <h1></h1>
                <h1>PHARMACY</h1>
                <h2>Rx</h2>
            </div>
        </div>
        <div class="body__footer--dw">
            <div class="footer__text--dw">
                <h5>TERMS AND CONDITIONS</h5>
            </div>
            <div class="footer__text--dw">
                <h5>SHIPPING AND RETURNS</h5>
            </div>
        </div>
    </section>
</div>