<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

<div class="drywalScope--dw">
    <%- include('../partials/navigationDrywal.ejs') %>
    <section class="fullPage__body--dw">
        <div class= "body__image--dw">
            <div class="image__text--dw">
                <h1>DRY</h1>
                <h1>WAL</h1>
                <h2>DF 01</h2>
            </div>
        </div>
        <div class="body__footer--dw">
            <div class="footer__text--dw">
                <h5>TERMS AND CONDITIONS</h5>
            </div>
            <div class="footer__text--dw">
                <h5>SHIPPING AND RETURNS</h5>
            </div>
        </div>
    </section>
</div>